@charset "UTF-8";
@font-face {
    font-family: GenJyuuGothic-Light;
    src: url(./GenJyuuGothic-Light.ttf);
}
body {
    color: hsl(210,20%,95%);
    background: hsl(210,20%,15%);
    font-family: GenJyuuGothic-Light,monospace;
}
header {
    font-weight: bold;
    padding: 10px;
    background: hsla(190,60%,70%,0.2);
    text-shadow: 1px 1px 3px #999;
}
h1 {
    margin: 0 0.5em;
    font-size: 2.5em;
    display: inline-block;
}
h2 {
    font-size: 1em;
    display: inline-block;
}
div#input {
    margin: 10px;
    font-size: 1.2em;
    font-family: GenJyuuGothic-Light,sans-serif;
    font-weight: bold;
}
div#input label {
    margin: 0 0.3em;
}
div#input label input[type=text] {
    margin: 0 0.3em;
    padding: 3px;
    font-family: monospace;
}
section {
    margin: 10px;
}
table {
    font-family: monospace;
    margin: 10px 10px 20px 10px;
}
tr {
    border-width: 1px;
    border-color: hsla(210,10%,90%,1);
    border-style: none none solid none;
}
td {
    padding: 4px;
    text-align: left;
}
td:first-child {
    text-align: center;
    vertical-align: middle;
}
table div {
    margin: 0;
    text-align: center;
    display: inline-block;
}
table div:nth-child(even) {
    margin: 0 6px 0 0; 
}
tr:hover {
    text-shadow: 1px 1px 2px #333;
    background:hsla(210,10%,90%,0.3);
}
section#output {
    display: none;
}

.hButton {
    font-family: GenJyuuGothic-Light,serif;
    font-weight: normal;
    height: 44px;
    color: hsl(180,65%,5%);
    text-decoration: none;
    font-size: 0.8em;
    border: 0 none hsla(0,0%,0%,0);
    background: hsl(170,65%,85%);
    padding: 10px;
}
.hButton:hover {
    cursor: pointer;
    color: hsl(180,80%,15%);
    background: hsl(170,60%,95%);
}